#asdf-container {
  position: fixed;
  z-index: 1000;
  height: 170px;
  width: 200px;
  bottom: -50px;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

#upbutton,
#downbutton {
  height: 60px;
  display: block;
  width: 60px;
}

.mapbox-directions-component-keyline {
  display: none;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.directions-control.directions-control {
  width: 100%;
  max-width: 100%;
}

.mapboxgl-ctrl-icon {
  display: none;
}
